.radio-group {
    @apply relative flex flex-col gap-2;
    & .group-label {
        @apply relative text-default-500;
    }
    & .radio-wrapper {
        @apply flex flex-col flex-wrap gap-2;
    }
    & > .description {
        @apply text-tiny text-default-400;
    }
    & .error-msg {
        @apply text-tiny text-danger;
    }

    &:not(&[data-disable-animation]) > .description {
        @apply transition-colors !duration-150 motion-reduce:transition-none;
    }

    &[data-orientation="horizontal"] .radio-wrapper {
        @apply flex-row;
    }

    &[data-required] {
        & .group-label {
            @apply after:ml-0.5 after:text-danger after:content-['*'];
        }
    }

    &:has(.radio-wrapper .radio[data-invalid="true"] :checked) > .description {
        @apply text-danger;
    }
    &:has(.radio-wrapper .radio[data-invalid="true"] :checked) {
        &:not(.radio-wrapper .radio[data-invalid="true"]) {
            & .point-wrapper.point-wrapper.point-wrapper {
                @apply border-danger;
            }
            & .label-wrapper {
                & .label {
                    @apply text-danger;
                }
                & .description {
                    @apply text-danger-300;
                }
            }
        }
        & .point-wrapper .point.point {
            @apply bg-danger text-white;
        }
    }
}

.radio {
    @apply relative -m-2 inline-flex max-w-fit cursor-pointer select-none items-center justify-start p-2 [-webkit-tap-highlight-color:transparent];

    /* Hidden Input */
    & > span:has(input) {
        border: 0px;
        clip: rect(0px, 0px, 0px, 0px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    /* When not disabling animations */
    &:not([data-disable-animation]) {
        & .point-wrapper {
            @apply transition-all duration-300 active:scale-95;
            & .point {
                @apply transition-all duration-300 motion-reduce:transition-none;
            }
        }
        & .label-wrapper :is(.label, .description) {
            @apply transition-colors duration-300 motion-reduce:transition-none;
        }
    }

    &[data-invalid="true"] {
        &:has(:checked) {
            & .point-wrapper.point-wrapper.point-wrapper {
                @apply border-danger;
            }
            & .label-wrapper {
                & .label {
                    @apply text-danger;
                }
                & .description {
                    @apply text-danger-300;
                }
            }
        }
        & .point-wrapper .point.point {
            @apply bg-danger text-white;
        }
    }

    /* Disabled */
    &[data-disabled] {
        @apply pointer-events-none opacity-disabled;
    }

    /* Hover state */
    &:not(:has(:checked)):hover .point-wrapper {
        @apply bg-default-100;
    }

    /* Checked state with colors */
    &:has(:checked) {
        & .point-wrapper {
            @apply border-default-500;
            & .point {
                @apply scale-100 opacity-100;
            }
        }
        &.primary .point-wrapper {
            @apply border-primary;
        }
        &.secondary .point-wrapper {
            @apply border-secondary;
        }
        &.success .point-wrapper {
            @apply border-success;
        }
        &.warning .point-wrapper {
            @apply border-warning;
        }
        &.danger .point-wrapper {
            @apply border-danger;
        }
        &.foreground .point-wrapper {
            @apply border-foreground;
        }
    }

    & .point-wrapper {
        @apply relative inline-flex size-5 flex-shrink-0 items-center justify-center overflow-hidden rounded-full border-2 border-solid border-default;

        & .point {
            @apply z-10 size-2 origin-center scale-0 rounded-full bg-default-500 text-foreground opacity-0;
        }
    }

    & .label-wrapper {
        @apply ml-2 flex flex-col;
        & .label {
            @apply relative select-none text-medium text-foreground;
        }
        & .description {
            @apply relative text-small text-default-400;
        }
    }

    /* Sizes */
    &.size-sm {
        & .point-wrapper {
            @apply size-4;
            & .point {
                @apply size-1.5;
            }
        }
        & .label-wrapper {
            @apply ml-1;
            & .label {
                @apply text-small;
            }
            & .description {
                @apply text-tiny;
            }
        }
    }
    &.size-lg {
        & .point-wrapper {
            @apply size-6;
            & .point {
                @apply size-2.5;
            }
        }
        & .label-wrapper {
            & .label {
                @apply text-large;
            }
            & .description {
                @apply text-medium;
            }
        }
    }

    /* Colors */
    &.primary .point-wrapper .point {
        @apply bg-primary text-white;
    }
    &.secondary .point-wrapper .point {
        @apply bg-secondary text-white;
    }
    &.success .point-wrapper .point {
        @apply bg-success text-black;
    }
    &.warning .point-wrapper .point {
        @apply bg-warning text-black;
    }
    &.danger .point-wrapper .point {
        @apply bg-danger text-white;
    }
    &.foreground .point-wrapper .point {
        @apply bg-foreground text-background;
    }
}
