.badge-container {
    --_percentage: 5%;
    @apply relative inline-flex shrink-0;

    /* Disable Animation */
    &[data-disable-animation] .badge {
        @apply transition-none;
    }

    & .badge {
        @apply absolute right-[--_percentage] top-[--_percentage] z-10 box-border flex origin-center -translate-y-1/2 translate-x-1/2 scale-100 select-none flex-wrap place-content-center items-center whitespace-nowrap rounded-full border-2 border-background bg-default px-1 text-sm font-normal text-foreground text-inherit subpixel-antialiased opacity-100 transition-[transform,opacity] duration-300;
        transition-timing-function: cubic-bezier(068 -0.55, 0.27, 1.55);

        /* Invisibility */
        &[data-invisible="true"] {
            @apply scale-0 opacity-0;
        }

        /* Dot when the badge is empty */
        &:empty {
            @apply h-3.5 min-h-3.5 w-3.5 min-w-3.5;
        }
    }

    /* When there is only one character inside the badge */
    &[data-one-char] {
        & .badge {
            @apply h-5 min-h-5 w-5 min-w-5;
        }
        &.size-sm {
            @apply h-4 min-h-4 w-4 min-w-4;
        }
        &.size-lg {
            @apply h-6 min-h-6 w-6 min-w-6;
        }
    }

    /* Hiding outline */
    &[data-show-outline="false"] .badge {
        @apply border-0 border-transparent;
    }

    /* Circular */
    &.circle {
        --_percentage: 10%;
    }

    /* Sizes */
    &.size-sm .badge {
        @apply text-xs;
        &:empty {
            @apply h-3 min-h-3 w-3 min-w-3;
        }
    }
    &.size-lg .badge:empty {
        @apply h-4 min-h-4 w-4 min-w-4;
    }

    /* Placements */
    &.top-left .badge {
        @apply left-[--_percentage] right-[unset] -translate-x-1/2 -translate-y-1/2;
    }
    &.bottom-right .badge {
        @apply bottom-[--_percentage] top-[unset] translate-x-1/2 translate-y-1/2;
    }
    &.bottom-left .badge {
        @apply bottom-[--_percentage] left-[--_percentage] right-[unset] top-[unset] -translate-x-1/2 translate-y-1/2;
    }

    /* Colors with variants */
    &:not(
            &.primary,
            &.secondary,
            &.success,
            &.warning,
            &.danger,
            &.foreground
        ) {
        &.shadow {
            @apply shadow-none;
            & .badge {
                @apply shadow-lg shadow-default/50;
            }
        }
        &.flat .badge {
            @apply bg-default/40 text-default-700;
        }
    }
    &.foreground {
        & .badge {
            @apply bg-foreground text-background;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-foreground/40;
        }
        &.flat .badge {
            @apply bg-foreground/10 text-foreground;
        }
        &.faded .badge {
            @apply text-foreground;
        }
    }
    &.primary {
        & .badge {
            @apply bg-primary text-white;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-primary/40;
        }
        &.flat .badge {
            @apply bg-primary/20 text-primary-700;
        }
        &.faded .badge {
            @apply text-primary;
        }
    }
    &.secondary {
        & .badge {
            @apply bg-secondary text-white;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-secondary/40;
        }
        &.flat .badge {
            @apply bg-secondary/20 text-secondary-700;
        }
        &.faded .badge {
            @apply text-secondary;
        }
    }
    &.success {
        & .badge {
            @apply bg-success text-black;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-success/40;
        }
        &.flat .badge {
            @apply bg-success/20 text-success-800 dark:text-success;
        }
        &.faded .badge {
            @apply text-success;
        }
    }
    &.warning {
        & .badge {
            @apply bg-warning text-black;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-warning/40;
        }
        &.flat .badge {
            @apply bg-warning/20 text-warning-800 dark:text-warning;
        }
        &.faded .badge {
            @apply text-warning;
        }
    }
    &.danger {
        & .badge {
            @apply bg-danger text-white;
        }
        &.shadow .badge {
            @apply shadow-lg shadow-danger/40;
        }
        &.flat .badge {
            @apply bg-danger/20 text-danger-800 dark:text-danger-500;
        }
        &.faded .badge {
            @apply text-danger;
        }
    }

    &.faded .badge {
        @apply border-default bg-default-100;
    }
}
