.switch {
    @apply relative inline-flex max-w-fit cursor-pointer touch-none select-none items-center justify-start [-webkit-tap-highlight-color:transparent];

    /* Hidden Input */
    & > span:has(input) {
        border: 0px;
        clip: rect(0px, 0px, 0px, 0px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    /* Disabled */
    &[data-disabled] {
        @apply pointer-events-none opacity-disabled;
    }

    /* If disabling animation */
    &[data-disable-animation] :is(.main-wrapper, .main-wrapper .thumb) {
        @apply transition-none;
    }

    /* If not disabling animation */
    &:not([data-disable-animation]) {
        &:active {
            & .main-wrapper .thumb {
                @apply w-6;
            }
            &:has(input[type="checkbox"]:checked) .main-wrapper .thumb {
                @apply ml-4;
            }
        }

        &.size-sm:active {
            & .main-wrapper .thumb {
                @apply w-5;
            }
            &:has(input[type="checkbox"]:checked) .main-wrapper .thumb {
                @apply ml-3;
            }
        }

        &.size-lg:active {
            & .main-wrapper .thumb {
                @apply w-7;
            }
            &:has(input[type="checkbox"]:checked) .main-wrapper .thumb {
                @apply ml-5;
            }
        }

        & .main-wrapper {
            @apply transition-colors duration-300;

            & .thumb {
                @apply transition-all duration-300;
            }

            & .start-content {
                @apply scale-50 opacity-0 transition-[transform,opacity] duration-300;
            }

            & .end-content {
                @apply opacity-100 transition-[transform,opacity] duration-300;
            }
        }
    }

    /* Checked State */
    &:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-foreground text-white dark:bg-content-2;

        & .thumb {
            @apply ml-5;
        }

        & .start-content {
            @apply scale-100 opacity-100;
        }
        & .end-content {
            @apply translate-x-3 opacity-0;
        }
    }

    & .main-wrapper {
        @apply relative mr-2 inline-flex h-7 w-12 flex-shrink-0 items-center justify-start overflow-hidden rounded-full bg-default-200 px-1;

        & .thumb {
            @apply z-10 flex h-5 w-5 origin-right items-center justify-center rounded-full bg-white text-sm shadow-sm;
            & .thumb-icon {
                @apply text-black;
            }
        }

        & .start-content {
            @apply absolute left-1.5 z-0 text-sm text-current;
        }

        & .end-content {
            @apply absolute right-1.5 z-0 text-sm text-default-600;
        }
    }

    & .switch-label {
        @apply relative select-none text-base text-foreground;
    }

    /* Sizes */
    &.size-sm {
        &:has(input[type="checkbox"]:checked) .main-wrapper .thumb {
            @apply ml-4;
        }
        & .main-wrapper {
            @apply mr-2 h-6 w-10;

            & .thumb {
                @apply h-4 w-4;
            }
            & :is(.thumb, .start-content, .end-content) {
                @apply text-xs;
            }
        }
        & .switch-label {
            @apply text-sm;
        }
    }
    &.size-lg {
        &:has(input[type="checkbox"]:checked) .main-wrapper .thumb {
            @apply ml-6;
        }
        & .main-wrapper {
            @apply mr-2 h-8 w-14;

            & .thumb {
                @apply h-6 w-6;
            }
            & :is(.thumb, .start-content, .end-content) {
                @apply text-base;
            }
        }
        & .switch-label {
            @apply text-lg;
        }
    }

    /* Colors */
    &.default:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-default-400 text-foreground;
    }
    &.primary:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-primary text-white;
    }
    &.secondary:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-secondary text-white;
    }
    &.success:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-success text-black;
    }
    &.warning:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-warning text-black;
    }
    &.danger:has(input[type="checkbox"]:checked) .main-wrapper {
        @apply bg-danger text-white;
    }
}
