.modal-container {
    & .backdrop {
        @apply pointer-events-none fixed inset-0 z-50 h-screen w-screen bg-black/50 opacity-0 transition-opacity duration-[400ms];
        &:has(+ .modal-wrapper[data-open="true"]) {
            @apply pointer-events-auto opacity-100 duration-300;
        }
    }

    &[data-draggable="true"] .modal-wrapper .modal .modal-header {
        @apply cursor-move select-none;
    }

    & .modal-wrapper {
        --scale: 1;
        --y: 80px;

        @apply pointer-events-none fixed inset-0 z-50 flex h-dvh w-screen items-end justify-center overflow-x-auto opacity-0 sm:items-center;

        scale: var(--scale);
        translate: 0 var(--y);

        transition:
            opacity 400ms,
            scale 400ms,
            translate 600ms cubic-bezier(0.22, 1, 0.36, 1);

        @media (min-width: 640px) {
            --y: 0px;
            --scale: 1.03;
        }

        &[data-open="true"] {
            --y: 0px;
            --scale: 1;
            @apply pointer-events-auto opacity-100;
            transition:
                opacity 300ms,
                scale 300ms,
                translate 300ms;
        }

        & .modal {
            @apply relative z-50 m-1 box-border flex w-full max-w-md flex-col overflow-y-hidden rounded-large bg-content-1 text-foreground outline-none [box-shadow:var(--box-shadow-small)] sm:mx-6 sm:my-16;

            & button.close-button {
                @apply absolute end-1 top-1 select-none appearance-none rounded-full p-2 text-default-500 outline-none [-webkit-tap-highlight-color:transparent] hover:bg-default-100 active:bg-default-200;
            }

            & .modal-header {
                @apply flex flex-initial px-6 py-4 text-large font-semibold;
            }

            & .modal-body {
                @apply flex flex-1 flex-col gap-3 px-6 py-2;
            }

            & .modal-footer {
                @apply flex flex-row justify-end gap-2 px-6 py-4;
            }
        }
    }

    /* Sizes */
    &.size-xs .modal-wrapper .modal {
        @apply max-w-xs;
    }
    &.size-sm .modal-wrapper .modal {
        @apply max-w-sm;
    }
    &.size-lg .modal-wrapper .modal {
        @apply max-w-lg;
    }
    &.size-xl .modal-wrapper .modal {
        @apply max-w-xl;
    }
    &.size-2xl .modal-wrapper .modal {
        @apply max-w-2xl;
    }
    &.size-3xl .modal-wrapper .modal {
        @apply max-w-3xl;
    }
    &.size-4xl .modal-wrapper .modal {
        @apply max-w-4xl;
    }
    &.size-5xl .modal-wrapper .modal {
        @apply max-w-5xl;
    }
    &.size-full-screen .modal-wrapper .modal {
        @apply m-0 h-dvh min-h-dvh max-w-full !rounded-none sm:m-0;
    }

    /* Radius */
    &.radius-none .modal-wrapper .modal {
        @apply rounded-none;
    }
    &.radius-sm .modal-wrapper .modal {
        @apply rounded-small;
    }
    &.radius-md .modal-wrapper .modal {
        @apply rounded-medium;
    }

    /* Placement */
    &.center .modal-wrapper {
        @apply items-center sm:items-center;
    }
    &.top .modal-wrapper {
        @apply items-start sm:items-start;
    }
    &.top-center .modal-wrapper {
        @apply items-start sm:items-center;
    }
    &.bottom .modal-wrapper {
        @apply items-end sm:items-end;
    }
    &.bottom-center .modal-wrapper {
        @apply items-end sm:items-center;
    }

    /* Shadow */
    &.shadow-medium .modal-wrapper .modal {
        @apply [box-shadow:var(--box-shadow-medium)];
    }
    &.shadow-large .modal-wrapper .modal {
        @apply [box-shadow:var(--box-shadow-large)];
    }

    /* Backdrop */
    &.backdrop-transparent .backdrop {
        @apply bg-transparent;
    }
    &.backdrop-blurred .backdrop {
        @apply bg-black/30 backdrop-blur-md backdrop-saturate-150;
    }

    /* Scroll Behavior */
    &.scroll-inside .modal-wrapper .modal {
        @apply max-h-[calc(100%-8rem)];
        & .modal-body {
            @apply overflow-y-auto;
        }
    }
    &.scroll-outside .modal-wrapper {
        @apply !items-start overflow-y-auto sm:!items-start;
        & .modal {
            @apply my-16;
        }
    }
}
