.checkbox-group {
    @apply relative flex flex-col gap-2;

    &[data-orientation="horizontal"] .checkbox-wrapper {
        @apply flex-row;
    }

    &[data-disabled] .checkbox-wrapper {
        @apply pointer-events-none opacity-disabled;
    }

    &[data-required] .group-label::after {
        @apply ml-0.5 text-danger content-['*'];
    }

    &[data-invalid="true"] {
        & .icon-wrapper.icon-wrapper {
            @apply text-white;
            &::before {
                @apply border-danger;
            }
            &::after {
                @apply bg-danger;
            }
        }
        & .description,
        & .checkbox-label {
            @apply text-danger;
        }
    }

    &:not(&[data-disable-animation]) .description {
        @apply transition-colors duration-150 motion-reduce:transition-none;
    }

    & .group-label {
        @apply relative text-medium text-default-500;
    }
    & .checkbox-wrapper {
        @apply flex flex-col flex-wrap gap-2;
    }
    & .description {
        @apply text-small text-default-400;
    }
    & .error-msg {
        @apply text-small text-danger;
    }
}

.checkbox {
    @apply relative -m-2 inline-flex max-w-fit cursor-pointer select-none items-center justify-start p-2 [-webkit-tap-highlight-color:transparent] [&:hover_.icon-wrapper::before]:bg-default-100;
    /* Hidden Input */
    & > span:has(input) {
        border: 0px;
        clip: rect(0px, 0px, 0px, 0px);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0px;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    /* Checked State */
    &:has(input[type="checkbox"]:checked) {
        & .icon-wrapper {
            @apply after:scale-100 after:opacity-100;
            & svg {
                @apply opacity-100;
                &:not(&.icon) polyline {
                    stroke-dashoffset: 44;
                }
            }
        }
    }

    /* Disabled */
    &[data-disabled] {
        @apply pointer-events-none opacity-disabled;
    }

    &:not(&[data-disable-animation]) {
        & .icon-wrapper {
            @apply transition-transform duration-[250ms] active:scale-95;
            &::before {
                @apply transition-colors duration-[250ms];
            }
            &::after {
                @apply transition-all duration-200 ease-linear motion-reduce:transition-none;
            }
            & > svg {
                @apply transition-all duration-[250ms] motion-reduce:transition-none;
            }
        }
        & .checkbox-label {
            @apply transition-all duration-[250ms] before:transition-[width] before:duration-[250ms] motion-reduce:transition-none;
        }
    }

    /* Required */
    &[data-required] {
        &.icon-wrapper::before {
            @apply border-2 border-solid border-danger;
        }
    }

    /* Inverted */
    &[data-inverted] {
        @apply border-2 border-solid border-white;
    }

    /* Wrapper */
    & .icon-wrapper {
        @apply relative mr-2 inline-flex size-5 flex-shrink-0 items-center justify-center overflow-hidden rounded-[calc(theme(borderRadius.medium)*0.6)] text-foreground;

        &::before {
            @apply absolute inset-0 rounded-[calc(theme(borderRadius.medium)*0.6)] border-2 border-solid border-default content-[''];
        }
        &::after {
            @apply absolute inset-0 origin-center scale-50 rounded-[calc(theme(borderRadius.medium)*0.6)] bg-default text-foreground opacity-0 content-[''];
        }

        /* Icon */
        & > svg {
            @apply z-10 h-3 w-4 fill-current text-inherit opacity-0;
        }
    }

    & .checkbox-label {
        @apply relative select-none text-medium text-foreground;
    }

    /* Line through */
    &[data-line-through] {
        & .checkbox-label {
            @apply inline-flex items-center justify-center;
            &::before {
                @apply absolute h-0.5 w-0 bg-foreground content-[''];
            }
        }
        &:has(input[type="checkbox"]:checked) .checkbox-label {
            @apply opacity-60 before:w-full;
        }
    }

    /* Sizes */
    &.size-sm {
        & .icon-wrapper {
            @apply size-4 rounded-[calc(theme(borderRadius.medium)*0.5)];
            &::before,
            &::after {
                @apply rounded-[calc(theme(borderRadius.medium)*0.5)];
            }
            & > svg {
                @apply h-2 w-3;
            }
        }
        & .checkbox-label {
            @apply text-small;
        }
    }
    &.size-lg {
        &.icon-wrapper {
            @apply size-6 rounded-[calc(theme(borderRadius.medium)*0.7)];
            &::before,
            &::after {
                @apply rounded-[calc(theme(borderRadius.medium)*0.7)];
            }
            & > svg {
                @apply h-4 w-5;
            }
        }
        &.checkbox-label {
            @apply text-large;
        }
    }

    /* Radius */
    &.radius-none.radius-none .icon-wrapper {
        @apply rounded-none;
        &::before,
        &::after {
            @apply rounded-none;
        }
    }
    &.radius-sm.radius-sm .icon-wrapper {
        @apply rounded-[calc(theme(borderRadius.medium)*0.5)];
        &::before,
        &::after {
            @apply rounded-[calc(theme(borderRadius.medium)*0.5)];
        }
    }
    &.radius-lg.radius-lg .icon-wrapper {
        @apply rounded-[calc(theme(borderRadius.medium)*0.7)];
        &::before,
        &::after {
            @apply rounded-[calc(theme(borderRadius.medium)*0.7)];
        }
    }
    &.radius-full.radius-full .icon-wrapper {
        @apply rounded-full;
        &::before,
        &::after {
            @apply rounded-full;
        }
    }

    /* Colors */
    &.primary .icon-wrapper {
        @apply text-white after:bg-primary after:text-white;
    }
    &.secondary .icon-wrapper {
        @apply text-white after:bg-secondary after:text-white;
    }
    &.success .icon-wrapper {
        @apply text-black after:bg-success after:text-black;
    }
    &.warning .icon-wrapper {
        @apply text-black after:bg-warning after:text-black;
    }
    &.danger .icon-wrapper {
        @apply text-white after:bg-danger after:text-white;
    }
    &.foreground .icon-wrapper {
        @apply text-background after:bg-foreground after:text-background;
    }
}
